{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe de l'utilisateur {% endblock %}

{% block body %}

    <div class="container">
     <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-light">
                <h1>Modification du mot de passe</h1>
                {{ form_start(form)}}
                {{ form_widget(form)}}
                <button type="submit" class="btn btn-success">Valider le mot de passe</button>
                {{ form_end(form)}}
        </div>
        <div class="col-3"></div>
     </div>
    </div>

{% endblock %}